[user]
  name = Alipio de Paula
  email = alipiodepaula@gmail.com

[alias]
  unstage = reset HEAD --
  discard = checkout --
  pristine = !git reset --hard HEAD && git clean -df
  amend = !git commit --amend -v --date="$(date +%Y-%m-%dT%H:%M:%S)"
  recommit = commit --amend --no-edit
  branches = branch -a
  remotes = remote -v
  tags = tag
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  back = checkout "-"
  patch = !git diff --no-pager --no-color
  review-unpushed = log --oneline --color @{u}..
  cleanup = !git remote prune origin && git gc && git clean -d -f && git stash clear
  pick = cherry-pick
  aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\:\\ /

[core]
  autocrlf = input

  # Use custom `.gitignore_global`
  excludesfile = ~/.gitignore_global

  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

  # Good-lookin' diffs
  pager = diff-so-fancy | less --tabs=4 -RFX

  whitespace = -trailing-space

[init]
  templatedir = ~/.git_template

[diff]
  compactionHeuristic = true

  # Use better, descriptive initials (c, i, w) instead of a/b.
  mnemonicPrefix = true

  # Show renames/moves as such
  renames = true

[format]
  pretty = tformat:%Cred%h%Creset %s %Cgreen(%an, %ad)%Creset

[log]
  date = iso
  abbrevCommit = true

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = yellow
  frag = magenta bold # line info
  old = red bold # deletions
  new = green bold # additions
  commit = yellow bold
  whitespace = red reverse

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[help]
  # Automatically correct and execute mistyped commands
  autoCorrect = 1

[fetch]
  prune = true

[pull]
  rebase = preserve

[push]
  # https://git-scm.com/docs/git-config#git-config-pushdefault
  default = upstream

  # When pushing, also push tags whose commit-ishs are now reachable upstream
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true

[merge]
  conflictStyle = diff3
  tool = kdiff3

[mergetool]
  keepBackup = false
  prompt = false
  trustExitCode = true

[mergetool "diffmerge"]
  trustExitCode = true
  cmd = /usr/local/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[bulkworkspaces]
  projects = /Users/youse/projects

[branch]
  autoSetupRebase = always
